<button id="start-button">START</button>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
