<div id="screen">
  <div id="circle"></div>
</div>
<div class="slide slide1"></div>
<div class="slide slide2"></div>
<button id="start-button">START</button>
<p id="please-wait">
画面を明るくして<br />
お待ち下さい
</p>
<div id="shade"></div>
<div id="snow"></div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
